.examples {

&__title {
  padding: 50px 0;
  font-size: 32px;
  letter-spacing: 3px;
  color: var(--dark-color);

}
&__border {
  border-bottom: 1px solid var(--light-gray-color);
}
&__item {

  @include flex-all-sb;

  padding: 50px 0;


  &:not(:last-child) {
    border-bottom: 1px solid var(--dark-color);
  }

}
&__subtitle {
  font-size: 26px;
}
&__name {
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;

  a {
    color: var(--dark-color);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--light-gray-color);
    }
  }


}
&__block-img {

  display: flex;
  vertical-align: top;
}
&__img {
  padding: 0 20px;
}
}
