.hero-about {
  background-color: inherit;

  &__img {
    width: 70%;
    height: auto;
  }
  &__container {
    display: flex;
    align-items: center;

  }
  &__txt {
    padding-right: 20px;

  }
  &__title {
    //margin: 0;

    font-size: 36px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 32px;
    color: var(--dark-light-color);
  }
  &__descr {
    line-height: 170%;
    font-weight: 300;
    font-size: 24px;
  }
}
