.nav {

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    li {
      &:not(:last-child) {
        padding-right: 44px;
      }
    }


  }

  &__item {
    font-size: 24px;
    font-weight: 500;
  }

  &__link {
    display: inline-block;
    font-weight: 500;
    color: var(--dark-color);
    transition: color 0.3s ease-in-out;



    &:focus {
      outline-offset: 2px solid var(--dark-green-color);
      outline: 1px solid var(--dark-green-color);

    }

    &:hover {
      color: var(--dark-green-color);

    }
    &:active {

       color: var(--dark-green-color);


    }
  }

}

