.title {
  margin: 0;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  letter-spacing: 5px;

  &__hero {
    padding: 40px 0;
    //font-family: "Gilroy", sans-serif;
    font-family: 'Ubuntu', sans-serif;




  }
}
