.title {
  margin: 0;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  letter-spacing: 5px;

  @include mobile {
    font-size: 35px;
  }

  &__hero {
    padding: 40px 0;

    @include mobile {
      padding: 20px 0;
    }




  }
}
