<section class="examples">
  <div class="container">
<div class="examples__title">Примеры работ</div>
</div>
<div class="examples__border"></div>
<div class="container">
<ul class="examples__list list-reset">

  <li class="examples__item">
    <div class="examples__block-text">
      <div class="examples__subtitle">лендинг ресторана </div>
    <div class="examples__name"><a href="">burrito</a></div>
    </div>
    <div class="examples__block-img">
      <div class="examples__img"> <img src="img/mobile-1.png" alt=""></div>
      <div class="examples__img"><img src="img/desktop-1.png" alt=""></div>
    </div>
</li>
  <li class="examples__item">
    <div class="examples__block-text">
      <div class="examples__subtitle">лендинг сыроварня </div>
    <div class="examples__name"><a href="">леткино</a></div>
    </div>
    <div class="examples__block-img">
      <div class="examples__img"> <img src="img/mobile.png" alt=""></div>
      <div class="examples__img"><img src="img/desktop.png" alt=""></div>
    </div>

      </li>
</ul>
  </div>
</section>
