<section class="examples">
  <div class="container">
<div class="examples__title">Примеры работ</div>
</div>
<div class="examples__border"></div>
<ul class="examples__list list-reset">
  <li>
    <article class="examples-item">
      <a href="#" class="examples-item__link">
        <div class="examples-item__bg" style="background-image: url(../img/slide6.jpg);"></div>
        <div class="container examples-item__container">
          <span class="examples-item__theme">лендинг ресторана </span>
          <h3 class="examples-item__title">Burrito</h3>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article class="examples-item">
      <a href="#" class="examples-item__link">
        <div class="examples-item__bg" style="background-image: url(../img/bg-phone.jpg);"></div>
        <div class="container examples-item__container">
          <span class="examples-item__theme">лендинг сыроварня</span>
          <h3 class="examples-item__title">Леткино</h3>
        </div>
      </a>
    </article>
  </li>
  <li>
    <article class="examples-item">
      <a href="#" class="examples-item__link">
        <div class="examples-item__bg" style="background-image: url(../img/bg.png);"></div>
        <div class="container examples-item__container">
          <span class="examples-item__theme">хлебопекарня</span>
          <h3 class="examples-item__title">заБатоном</h3>
        </div>
      </a>
    </article>
  </li>

</ul>









</section>
