<section class="example">
  <div class="container">

    <h1 class="example__subtitle">
      лендинг ресторана
    </h1>
    <h2 class="example__title">
      burrito
    </h2>
    <a href="" class="example__link">burrito.beget.ru</a>
    <div class="example__image">
      <img src="img/screen.png" alt="">
    </div>
    <ul class="example__list list-reset">
      <li class="example-item">
        <article>
          <div class="example-item__title">Верстка макета</div>
          <div class="example-item__descr">Сверстан адаптивный шаблон в несколько страниц,
            реализовано множество фронтенд-логики</div>
        </article>
      </li>
      <li class="example-item">
        <article>
          <div class="example-item__title">Интерактивность </div>
          <div class="example-item__descr">В наличии необходимые интерактив-элементы: табы,
            аккордеон, фильтры, модальные окна</div>
        </article>
      </li>
      <li class="example-item">
        <article>
          <div class="example-item__title">Движок </div>
          <div class="example-item__descr"></div>
        </article>
      </li>
    </ul>

    <div class="example__shift">пeрейти на <a class="example__link">burrito.beget.ru</a></div>
    <div class="example-block__title">cледующий проект</div>
<div class="example-block">

  <div class="example-block__right">
    <div class="example__subtitle">хлебопекарня</div>
    <div class="example__title">заБатоном</div>
  </div>

  <div class="example__left">
    <img src="img/svg/next.svg" alt="">
  </div>
</div>

  </div>
</section>
