<header class="header">
  <div class="container header__container">
    <div class="header__block">
      <a href="" class="logo header__logo" aria-label="Логотип Alf">
        <img src="img/logo-mini.svg" alt="Logo Alf">
      </a>

      <nav class="nav header__nav" title="Navigation">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="" class="nav__link">Обо мне</a></li>
          <li class="nav__item"><a href="" class="nav__link">Работы</a></li>
          <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="burger-wrap">
        <button class="burger btn-reset">
          <span class="burger__line"></span>
        </button>
      </div>
      <!--<ul class="list-reset social">
        <li class="social__item"><a href="" class="social__link"><svg>
          <use xlink:href="img/sprite.svg#telegram"></use>
        </svg></a></li>
        <li class="social__item"><a href="" class="social__link"><svg>
          <use xlink:href="img/sprite.svg#what"></use>
        </svg></a></li>
        <li class="social__item"><a href="" class="social__link"><svg>
          <use xlink:href="img/sprite.svg#vk"></use>
        </svg></a></li>
      </ul>-->
    </div>
  </div>
</header>
