<section class="hero">
  <div class="container hero__container">
    <h1 class="title title__hero">веб-разработка</h1>
    <div class="hero__logo">
      <img src="img/logo.svg" alt="Logo Alf">
    </div>
      <h2 class="hero__name">
        <span class="hero__name1">алфёрова</span>
        <span class="hero__name2">марина</span>
      </h2>
      <div class="hero__block">
        <div class="hero__work">frontend</div>
        <div class="hero__work">backend</div>
      </div>
      </div>
</section>
