<section class="skills">
<div class="container-fluid">
  <ul class="list-reset skills__list">
    <li class="skills__item">
      <div class="skills-element">
        <div class="skills-element__icon">
          <img src="img/svg/skill-1.svg" alt="">

        </div>
        <div class="skills-element__circle skills-element__circle--one-color" data-percent="90">
          <svg class="circle-anim" viewBox="-10 -10 320 320">
            <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke-width="15">
            </circle>
            <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke-width="15">
            </circle>
          </svg>
          <div class="skills-element__value"></div>
        </div>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills-element">
        <div class="skills-element__icon">
          <img src="img/svg/skill-2.svg" alt="">
        </div>
        <div class="skills-element__circle skills-element__circle--two-color" data-percent="90">
          <svg class="circle-anim" viewBox="-10 -10 320 320">
            <circle class="progress-bg" r="150" cx="150" cy="150" stroke="yellow" fill="none" stroke-width="15">
            </circle>
            <circle class="progress" r="150" cx="150" cy="150" stroke="crimson" fill="none" stroke-width="15">
            </circle>
          </svg>
          <div class="skills-element__value"></div>
        </div>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills-element">
        <div class="skills-element__icon">
          <img src="img/svg/skill-3.svg" alt="">

        </div>
        <div class="skills-element__circle skills-element__circle--three-color" data-percent="80">
          <svg class="circle-anim" viewBox="-10 -10 320 320">
            <circle class="progress-bg" r="150" cx="150" cy="150" stroke="yellow" fill="none" stroke-width="15">
            </circle>
            <circle class="progress" r="150" cx="150" cy="150" stroke="crimson" fill="none" stroke-width="15">
            </circle>
          </svg>
          <div class="skills-element__value"></div>
        </div>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills-element">
        <div class="skills-element__icon">
          <img src="img/svg/skill-4.svg" alt="">
        </div>
        <div class="skills-element__circle skills-element__circle--four-color" data-percent="90">
          <svg class="circle-anim" viewBox="-10 -10 320 320">
            <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke-width="15">
            </circle>
            <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke-width="15">
            </circle>
          </svg>
          <div class="skills-element__value"></div>
        </div>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills-element">
        <div class="skills-element__icon">
          <img src="img/svg/skill-5.svg" alt="">
        </div>
        <div class="skills-element__circle skills-element__circle--five-color" data-percent="90">
          <svg class="circle-anim" viewBox="-10 -10 320 320">
            <circle class="progress-bg" r="150" cx="150" cy="150" stroke="yellow" fill="none" stroke-width="15">
            </circle>
            <circle class="progress" r="150" cx="150" cy="150" stroke="crimson" fill="none" stroke-width="15">
            </circle>
          </svg>
          <div class="skills-element__value"></div>
        </div>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills-element">
        <div class="skills-element__icon">
          <img src="img/svg/skill-6.svg" alt="">
        </div>
        <div class="skills-element__circle skills-element__circle--six-color" data-percent="80">
          <svg class="circle-anim" viewBox="-10 -10 320 320">
            <circle class="progress-bg" r="150" cx="150" cy="150" stroke="yellow" fill="none" stroke-width="15">
            </circle>
            <circle class="progress" r="150" cx="150" cy="150" stroke="crimson" fill="none" stroke-width="15">
            </circle>
          </svg>
          <div class="skills-element__value"></div>
        </div>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills-element">
        <div class="skills-element__icon">
          <img src="img/svg/skill-7.svg" alt="">
        </div>
        <div class="skills-element__circle skills-element__circle--seven-color" data-percent="90">
          <svg class="circle-anim" viewBox="-10 -10 320 320">
            <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke-width="15">
            </circle>
            <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke-width="15">
            </circle>
          </svg>
          <div class="skills-element__value"></div>
        </div>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills-element">
        <div class="skills-element__icon">
          <img src="img/svg/skill-8.svg" alt="">
        </div>
        <div class="skills-element__circle skills-element__circle--eight-color" data-percent="90">
          <svg class="circle-anim" viewBox="-10 -10 320 320">
            <circle class="progress-bg" r="150" cx="150" cy="150" stroke="yellow" fill="none" stroke-width="15">
            </circle>
            <circle class="progress" r="150" cx="150" cy="150" stroke="crimson" fill="none" stroke-width="15">
            </circle>
          </svg>
          <div class="skills-element__value"></div>
        </div>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills-element">
        <div class="skills-element__icon">
          <img src="img/svg/skill-9.svg" alt="">
        </div>
        <div class="skills-element__circle skills-element__circle--nine-color" data-percent="80">
          <svg class="circle-anim" viewBox="-10 -10 320 320">
            <circle class="progress-bg" r="150" cx="150" cy="150" stroke="yellow" fill="none" stroke-width="15">
            </circle>
            <circle class="progress" r="150" cx="150" cy="150" stroke="crimson" fill="none" stroke-width="15">
            </circle>
          </svg>
          <div class="skills-element__value"></div>
        </div>
      </div>
    </li>
  </ul>
</div>



</section>
